<div class="container">
  <form class="row g-3" (ngSubmit)="onSubmit()" [formGroup]="formulario">
    <div class="form-group">
      <div class="acol-sm-12">
        <label for="nome" class="form-label">Nome:</label>
        <input
          formControlName="nome"
          type="text"
          class="form-control"
          id="nome"
          placeholder="Nome"
          [ngClass]="aplicaCssErro('nome')"
        />
        <app-error-msg
          [control]="formulario.get('nome')"
          label="Nome"
          class="alert alert-danger invalid-feedback"
          role="alert"
        ></app-error-msg>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="email" class="form-label">E-mail:</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
          email
          [ngClass]="aplicaCssErro('email')"
        />
        <app-error-msg
          [control]="formulario.get('email')"
          label="E-mail"
          class="alert alert-danger invalid-feedback"
          role="alert"
        ></app-error-msg>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="confirmarEmail" class="form-label">Confirmar E-mail:</label>
        <input
          formControlName="confirmarEmail"
          type="confirmarEmail"
          class="form-control"
          id="confirmarEmail"
          placeholder="name@example.com"
          confirmarEmail
          [ngClass]="aplicaCssErro('confirmarEmail')"
        />
        <app-error-msg
          [control]="formulario.get('confirmarEmail')"
          label="E-mail"
          class="alert alert-danger invalid-feedback"
          role="alert"
        ></app-error-msg>
      </div>
    </div>

    <div formGroupName="endereco">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="cep" class="form-label">CEP:</label>
            <input
              formControlName="cep"
              type=" text"
              class="form-control"
              id="cep"
              placeholder="00000-000"
              [ngClass]="aplicaCssErro('endereco.cep')"
            />
            <app-error-msg
              [control]="formulario.get('endereco.cep')"
              label="CEP"
              class="alert alert-danger invalid-feedback"
              role="alert"
            ></app-error-msg>
          </div>

          <div class="col-sm-3">
            <label for="numero" class="form-label">Número:</label>
            <input
              formControlName="numero"
              type=" number"
              class="form-control"
              id="numero"
              placeholder="0"
              [ngClass]="aplicaCssErro('endereco.numero')"
            />
            <app-error-msg
              [control]="formulario.get('endereco.numero')"
              label="Número"
              class="alert alert-danger invalid-feedback"
              role="alert"
            ></app-error-msg>
          </div>

          <div class="col-sm-6">
            <label for="complemento" class="form-label">Complemento:</label>
            <input
              formControlName="complemento"
              type=" text"
              class="form-control"
              id="complemento"
              placeholder="Complemento"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="acol-sm-12">
          <label for="logradouro" class="form-label">Rua:</label>
          <input
            formControlName="logradouro"
            type=" text"
            class="form-control"
            id="logradouro"
            [ngClass]="aplicaCssErro('endereco.logradouro')"
          />
          <app-error-msg
            [control]="formulario.get('endereco.logradouro')"
            label="Rua"
            class="alert alert-danger invalid-feedback"
            role="alert"
          ></app-error-msg>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-5">
            <label for="bairro" class="form-label">Bairro:</label>
            <input
              formControlName="bairro"
              type=" text"
              class="form-control"
              id="bairro"
              [ngClass]="aplicaCssErro('endereco.bairro')"
            />
            <app-error-msg
              [control]="formulario.get('endereco.bairro')"
              label="Bairro"
              class="alert alert-danger invalid-feedback"
              role="alert"
            ></app-error-msg>
          </div>

          <div class="col-sm-4">
            <label for="localidade" class="form-label">Cidade:</label>
            <input
              formControlName="localidade"
              type=" text"
              class="form-control"
              id="localidade"
              [ngClass]="aplicaCssErro('endereco.localidade')"
            />
            <app-error-msg
              [control]="formulario.get('endereco.localidade')"
              label="Cidade"
              class="alert alert-danger invalid-feedback"
              role="alert"
            ></app-error-msg>
          </div>

          <div class="col-sm-3">
            <label for="uf" class="form-label">UF:</label>
            <select
              class="form-select"
              formControlName="uf"
              id="uf"
              [ngClass]="aplicaCssErro('endereco.uf')"
            >
              <option
                *ngFor="let estado of estados | async"
                [value]="estado.sigla"
              >
                {{ estado.nome }}
              </option>
            </select>
            <app-error-msg
              [control]="formulario.get('endereco.uf')"
              label="UF"
              class="alert alert-danger invalid-feedback"
              role="alert"
            ></app-error-msg>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group col-sm-12">
      <label for="cargo" class="form-label">Cargo:</label>
      <select
        class="form-select"
        formControlName="cargo"
        id="cargo"
        [compareWith]="compararCargo"
      >
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">
          {{ cargo.desc }}
        </option>
      </select>
    </div>

    <div class="form-group col-sm-12">
      <label for="tecnologias" class="form-label">Tecnologias:</label>
      <select
        class="form-select"
        formControlName="tecnologias"
        id="tecnologias"
        multiple
      >
        <option
          *ngFor="let tecnologia of tecnologias"
          [value]="tecnologia.nome"
        >
          {{ tecnologia.desc }}
        </option>
      </select>
    </div>

    <div class="form-group col-sm-12">
      <label for="newsletter" class="form-label">Newsletters: </label><br />
      <div
        id="newsletter"
        class="form-check form-check-inline"
        *ngFor="let item of newsletterOptions"
        [ngClass]="aplicaCssErro('newsletter')"
      >
        <input
          [ngClass]="aplicaCssErro('newsletter')"
          type="radio"
          id="newsletter"
          class="form-check-input"
          name="newsletter"
          formControlName="newsletter"
          [value]="item.valor"
        />
        <label class="form-check-label">{{ item.desc }}</label>
      </div>
      <app-error-msg
        [control]="formulario.get('newsletter')"
        label="NewsLetter"
        class="alert alert-danger invalid-feedback"
        role="alert"
      ></app-error-msg>
    </div>

    <div class="form-group col-sm-12">
      <div class="form-check form-check-inline">
        <input
          [ngClass]="aplicaCssErro('termos')"
          class="form-check-input"
          type="checkbox"
          formControlName="termos"
          id="termoBox"
        />
        <label class="form-check-label" for="termoBox">
          Aceito os termos
        </label>
        <app-error-msg
          [control]="formulario.get('termos')"
          label="Termo"
          class="alert alert-danger invalid-feedback"
          role="alert"
        ></app-error-msg>
      </div>
    </div>

    <div class="form-group col-sm-12">
      <label for="frameworks">FrameWorks:</label>
      <div id="frameworks">
        <div
          class="form-check form-check-inline"
          formArrayName="frameworks"
          *ngFor="let item of getFrameworksControls(); let i = index"
          [ngClass]="aplicaCssErro('frameworks')"
        >
          <input
            [ngClass]="aplicaCssErro('frameworks')"
            class="form-check-input"
            type="checkbox"
            [formControlName]="i"
            id="frameworksBox"
          />
          <label class="form-check-label" for="frameworksBox">
            {{ frameworks[i] }}
          </label>
        </div>
        <app-error-msg
          [control]="formulario.get('frameworks')"
          label="Frameworks"
          class="alert alert-danger invalid-feedback"
          role="alert"
        ></app-error-msg>
      </div>
    </div>

    <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
      <button type="reset" (click)="resetForm()" class="btn btn-secondary">
        Cancelar
      </button>
      <button (click)="setCargo()" class="btn btn-danger">Setar cargo</button>
      <button (click)="setTecnologias()" class="btn btn-danger">
        Setar tecnologia
      </button>
    </div>
    <app-form-debug [form]="formulario"> </app-form-debug>
  </form>
</div>
