<nav class="navbar navbar-expand-sm navbar-light bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/cursos">Cursos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>
