<h5>Exemplos de Pipes</h5>
<!-- Pipes aninhados o ultimo sobrescreve os progenitores -->
<p>Título: {{ book.title | uppercase | lowercase | camelCase }}</p>
<p>Estrela: {{ book.rating | number:'1.1-1' }}</p>
<p>Páginas: {{ book.page | number }}</p>
<p>Preço: {{ book.price | currency:'BRL':true }}</p>
<p>Data: {{ book.date | date:'dd/MMM/yyyy' }}</p>
<p>URL: {{ book.url }}</p>
<br>
<p>Livro: {{ book | json }}</p>
<br>
<hr>

<input type="text" [(ngModel)]="filtro" />

<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<ul>
  <!-- Filtro de array abaixo é apenas para fim academico.. não utilizar em produção -->
  <li *ngFor="let livro of livros | filtroArray: filtro">
    {{ livro }}
  </li>
</ul>
