<p fundoAmarelo>Texto com fundo amarelo</p>

<button fundoAmarelo>Botão amarelo... errou</button>

<hr />

<p highlightMouse>texto com High Light ao passar o mouse Mouse</p>

<hr />

<p [highlight]="'red'" [defaultColor]="'gray'">
  texto com High Light ao passar o mouse Mouse
</p>
<hr />

<h5>Diretiva Estrutura Customizada - ngElse</h5>

<div *ngIf="mostrarCursos">Lista de cursos:</div>
<div *ngElse="mostrarCursos">Não existem cursos nessa categoria</div>
<hr />
<br />
<button (click)="controleCurso()">Mostar ou esconder cursos</button>
<hr />

<div [hidden]="!mostrarCursos">Verdadeiro</div>
<div [hidden]="mostrarCursos">Falso</div>
<hr />

<ng-template [ngIf]="mostrarCursos">
  <div>Lista de cursos 1</div>
</ng-template>
<ng-template [ngElse]="mostrarCursos">
  <div>Não existem cursos nessa categoria 1</div>
</ng-template>
