<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<app-exemplo-ng-content>
  <div class="top">Aqui é o coneúdo do Topo</div>
  <div class="med">
    Conteúdo dinamico passado para o componente
  </div>
  <div class="med">
    Se tiver duas tag igual ele vai juntar tudo
  </div>
  <div id="down">
    Aqui é o texto da base, funciona com class e Id
  </div>
</app-exemplo-ng-content>
