<div class="card">
  <div class="card-header">
    <div class="float-left"><h4>Cursos</h4></div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['/cursos']">
        Novo Curso
      </button>
      <button type="button" class="btn btn-info" (click)="onRefresh()">
        Atualizar
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table" *ngIf="cursos$ | async as cursosOBS; else loading">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Curso</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursosOBS">
          <th scope="row">{{ curso.id }}</th>
          <td>{{ curso.nome }}</td>
          <td>
            <div class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm">
                Atualizar
              </button>
              <button class="btn btn-outline-danger mb-1 btn-sm">
                Remover
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <div
        *ngIf="error$ | async; else loadingNoError"
        class="alert alert-danger"
        role="alert"
      >
        <span>Erro ao carregar os cursos.</span>
      </div>
      <ng-template #loadingNoError>
        <div class="alert alert-info" role="alert">
          <span>Carregando Cursos ...</span>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
