<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="nome" class="form-label">Nome:</label>
    <input name="nome" [(ngModel)]="usuario.nome" type="text" class="form-control" id="nome" placeholder="Nome" required
      #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched">
    <!-- <div>
      {{ nome.className }}
    </div> -->
    <div class="alert alert-danger invalid-feedback" role="alert">
      Nome é obrigatório
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="form-label">E-mail:</label>
    <input name="email" [(ngModel)]="usuario.email" type="email" class="form-control" id="email"
      placeholder="name@example.com" required email #email="ngModel" [class.is-invalid]="!email.valid && email.touched">
    <div class="alert alert-danger invalid-feedback" role="alert">
      E-mail é obrigatório
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Enviar</button>
  </div>
  <app-form-debug [form]="f"></app-form-debug>
</form>
